%section
  %aside
    %ul.nav.nav-list
      %li
        = link_to "Add Warranty", new_warranty_path


  %section
    %ul.thumbnails
      - @warranties.each do |warranty|
        %li.thumbnail
          = image_tag(warranty.warranty_url(:thumb))
          %h5= warranty.name
          .expires_on
            %span Expires on:
            = warranty.expires_on
