.page-header
  %h1= @warranty.name
%p
  =link_to(image_tag(@warranty.warranty_url(:thumb)), @warranty.warranty_url(:large), :class => 'fancybox', :id => "warranty_warranty_#{@warranty.id}")
%p
  %strong Expires on:
  = @warranty.expires_on

%p
  = link_to "Edit", edit_warranty_path(@warranty), :class => 'btn'
